.k-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0% 5% 3% 5%;
}

.k-banner__titre {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  position: absolute;
  color: white;
  max-width: 80%;
}
.k-image {
  width: 100%;
}
.k-banner__logo {
  object-fit: cover;
  width: 100%;
  border-radius: 25px;
  filter: brightness(70%);
}
.k-banner__mobile {
  display: none;
}
@media screen and (max-width: 498px) {
  .k-banner {
    margin-bottom: 5%;
  }
  .k-banner__titre {
    font-size: 24px;
  }

  .k-banner__logo {
    display: none;
  }
  .k-banner__mobile {
    display: flex;
    width: 100%;
    border-radius: 10px;
  }
  .k-banners__logo {
    background: #f7f7f7;
    border-radius: 10px;
    filter: brightness(70%);
  }
}
