.wrapper {
  display: flex;
  justify-content: center;
}

.accordion {
  width: 80%;
  margin: 0 5%;
}

.fond-title {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-right: 20px;
  background: #ff6060;
  border-radius: 5px;
  cursor: pointer;
}
.titre {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  color: #ffffff;
  margin: 10px;
}
.content {
  max-height: 0;
  background: #f6f6f6;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  /* or 34px */
  margin-bottom: 25px;
}

.content.show {
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
  border-radius: 5px;
}

.texte {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 142.6%;
  color: #ff6060;
  padding: 10px 10px 10px 10px;
}

.active {
  transform: rotate(180deg);
  cursor: pointer;
}

.desactive {
  cursor: pointer;
}

@media screen and (max-width: 498px) {
  .accordion {
    width: 100%;
  }

  .texte {
    font-size: 12px;
  }

  .titre {
    font-size: 14px;
  }
}
