.k-error__titre {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 288px;
  display: flex;
  justify-content: center;
  margin: 10%;
  margin-bottom: 0;
  color: #ff6060;
}

.k-error__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;

  display: flex;
  justify-content: center;
  color: #ff6060;
  margin: 30px;
  margin-bottom: 10px;
}

.k-error__accueil {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

  display: flex;
  justify-content: center;
  text-decoration-line: underline;
  margin: 150px;
  color: #ff6060;
}

@media screen and (max-width: 498px) {
  .k-error__titre {
    font-weight: 700;
    font-size: 96px;
    margin: 50% 0 0 0;
  }
  .k-error__text {
    font-size: 18px;
    text-align: center;
    margin: 0 50px;
  }
  .k-error__accueil {
    font-size: 14px;
    margin: 30% 0 50% 0;
    text-align: center;
  }
}
