.k-footer {
    position: relative;
width: 1440px;
height: 209px;
top: 4333px;
background: #000000;
}

.k-logo1 {
    position: absolute;
left: 45.76%;
right: 45.76%;
top: 31.58%;
bottom: 49.55%;
width: 122px;
height: 39.44px;
}

.k-text {
 position: absolute;
    left: 32.15%;
right: 32.22%;
    top: 60%;
    bottom: 13.88%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
/* or 34px */

display: flex;
justify-content: center;
text-align: center;
color: #FFFFFF;
}

@media screen and (max-width: 498px){
    .k-footer {
        position: relative;
width: 375px;
height: 209px;

background: #000000;
    }
    .k-logo1 {
        position: absolute;
left: 33.6%;
right: 33.6%;
top: 29.67%;
bottom: 51.46%;
    }
    .k-text {
        position: absolute;
left: -18.4%;
right: -18.4%;
top: 48.33%;
bottom: 29.67%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 142.6%;
/* or 17px */

display: flex;
align-items: flex-end;
text-align: center;

color: #FFFFFF;
    }
}