.k-accueil {
  margin-right: 50px;
  text-decoration: none;
}

.k-about {
  text-decoration: none;
}
.k-width {
  width: 100%;
}
.k-nav {
  justify-content: flex-end;
  display: flex;
  width: 1024px;
}
.k-nav :hover {
  text-decoration: underline;
}
.k-logo {
  display: flex;
  max-width: 100%;
}
.k-font {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #ff6060;
}
.k-header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 3% 5% 3% 5%;
}

@media screen and (max-width: 498px) {
  .k-logo {
    width: 145px;
    height: 47px;
  }

  .k-accueil {
    margin-right: 15px;
  }
  .k-font {
    font-size: 12px;
    text-transform: uppercase;
  }

  .k-nav :hover {
    text-decoration: underline;
  }
}
