.collapse {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2%;
  list-style-type: none;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  margin-left: 5%;
  max-width: 75%;
}

.host {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  margin: 0 5% 0 5%;
}

@media screen and (max-width: 498px) {
  .collapse {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
  }

  .information {
    position: relative;
    max-width: 100%;
  }
  .location {
    margin-top: 5px;
  }

  .host {
    margin-bottom: 15px;
  }
}
